node_modules/
*.jsx
*.js.map
coverage/
.tmp/

# mac
.DS_Store

# editor
.idea/
.code/
wsEndpoint

# build
dist/

# example folder
/example/node_modules/
/example/.DS_Store

# local dev config
ts-codegen.config.json
/.output

# lock files
*lock*.json

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!yarn.lock
